run = "bash replit_start.sh"
modules = ["python-3.12", "nodejs-18", "web"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "replit_start.sh"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8001
externalPort = 3001

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash replit_start.sh"

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".json"]
id = "module:nodejs-20/languageServer:typescript-language-server"
